.nav {
    border-bottom: 1px solid #aaa;
}

.hero {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #e8e8e8;
    border-radius: 8px;
    font-size: 2rem;
}

.hero p {
    margin-bottom: 10px;
}

.title {
    font-size: 2.5rem;
}