{% load static %}

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="{% static 'chota.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">
    
    <title>BlogMaker Lite</title>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left">
        <a class="active" href="{% url 'index' %}">BlogMaker Lite</a>
        <a href="{% url 'blogs' %}">All blogs</a>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock content %}
    </div>
    
  </body>
</html>